body#home-page { 

  .sidenav {
    a {
      color: darken(#3a6a3b,20%);
    }

  }
  .sidenav-trigger {
    color: darken(#3a6a3b,20%);    
  }
  
  .brand-logo {
    color: darken(#3a6a3b,20%);
  }
  .collection-header {
    background: lighten(#3a6a3b,50%);
    .header-item {
      color: #3a6a3b;
      font-weight: bold;
      font-size: 1em;

      ~.header-value {
        background: lighten(#3a6a3b,70%);
        border: 1px solid;
        border-radius: 2em;
        padding: 0 1em;
        .value-content {
          font-weight: bold;
        }
      }
    }
  }
}




