body#home-page .sidenav a {
  color: #162816;
}

body#home-page .sidenav-trigger {
  color: #162816;
}

body#home-page .brand-logo {
  color: #162816;
}

body#home-page .collection-header {
  background: #c4dfc5;
}

body#home-page .collection-header .header-item {
  color: #3a6a3b;
  font-weight: bold;
  font-size: 1em;
}

body#home-page .collection-header .header-item ~ .header-value {
  background: white;
  border: 1px solid;
  border-radius: 2em;
  padding: 0 1em;
}

body#home-page .collection-header .header-item ~ .header-value .value-content {
  font-weight: bold;
}
